<footer class="footer">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 contact">
      <h2 class="contact__title">Contact</h2>
      <div class="address">
        Goulburn Speedway Inc<br>
        PO Box 492<br>
        Goulburn NSW 2580<br>
        P: 0408 480 713
      </div>
      <div class="address">
        Contact: Tony Kranitis (Race Secretary)<br>
        <a href="mailto:tk.kactus@bigpond.com">tk.kactus@bigpond.com</a>
      </div>
      <div class="address">
        Track Name: Goulburn Speedway<br>
        Track Address: Governors Hill Goulburn<br>
        Length on Pole: 400 Metres<br>
        Track Surface: Clay
      </div>
    </div>
    <div class="col-md-9">
      <h2 class="contact__summary">Sponsors</h2>
    </div>
  </div>
</footer>
