.calender {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //align-content: space-between;
  //align-content: space-around;


  .calender__item {
    background: white;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    h2 {color: #c1c1c1;}
    padding: 15px;
    width: 100%;
    @media screen and (max-width: 991px){
      width: 50%;
    }
    @media screen and (max-width: 386px){
      width: 100%;
    }
  }

  h2.calender__date{
    text-align: center;
    background: #95a5a6;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
  }

}
